@import './bootstrap-superhero.css';
@import './chat';
@import './nav';
@import './match-card';
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

.mapviewport {
    height: 100vh;
}

#scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.clickable {
    @include clickable;
}
