@import './bootstrap-superhero.css';
//@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

@mixin clickable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar {
    border-left: 1px solid #777;
    height: 100vh;
}

.mapviewport {
    height: 100vh;
}

#scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.main-nav {
    margin-bottom: 1rem
}

.main-nav .navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
}

.nav-match-name {
    border-left: 1px solid white;
    padding-left: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.match-card {
    //background-color: #5cb85c !important;
    margin-bottom: 0.5rem;
    @include clickable;
}

.match-card .btn-open {
    float: right;
}

.match-card:hover .btn-open {
    color: #fff;
    background-color: #778a9d;
    border-color: #6f8397;
}

.match-card:hover {
    //background-color: #4aa73a !important;
}

.clickable {
    @include clickable;
}
