//@import './bootstrap-superhero.css';
@import './chat';
@import './match-card';
@import './match-hud';
@import './pathing-hud';
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

body {
    padding: 0;
    margin: 0;
    background-color: #687582;
    color: white;
    font-family: 'Roboto';
}

.clickable {
    @include clickable;
}

.mapviewport {
    position: relative;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    z-index: 0;
}

.three-canvas {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    // top: -16px;
    // left: -8px;
    // bottom: -16px;
    // right: -16px;
    height: calc(100vh - 64px);
}
