@import './_mixins.scss';

.chat {
    position: fixed;
    bottom: 0;
    right: 8px;
    width: 20rem;
}

.chat-header {
    background-color: rgba(255, 255, 255, .6);
    color: #111;
    padding: 4px;
    border-bottom: 2px solid black;
    @include clickable;
}

.chat-screen {
    overflow-y: scroll;
    height: 15rem;
    background-color: rgba(0,0,0,.7);
    font-size: .8em;
    padding: 0 0.5rem;
}

.chat-screen p {
    margin: 0;
    padding: 0;
}

.chat-line.chat-join {
    color: rgba(255, 255, 255, .5);
}

.chat-line {
    text-indent: -1em;
    margin-left: 1em;
}

.chat-input {
    width: 100%;
    color: white;
    border: none;
    background-color: rgba(0,0,0,.5);
    height: 2rem;
}

.chat-collapse {
    height: 0;
    opacity: 0;
    transition: height 100ms ease-out, opacity 200ms ease-out;
}

.chat-collapse.show {
    opacity: 1;
    height: 17rem;
}
