.match-container {
    position: relative;
}

.match-hud {
    position: absolute;
    background-color: rgba(32, 32, 32, 0.7);
    padding: 4px
}

.match-hud-right {
    right: 8px;
    top: 72px;
    width: 23rem;
}

.match-hud-left {
    left: 8px;
    top: 72px;
    width: 12rem;
}

.match-hud p {
    font-size: 0.9em;
}

.coordinates {
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.match-error-modal {
    position: relative;
    top: 150px;
    margin: 0 auto;
    width: 500px;
    padding: 60px 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}
