.main-nav {
    margin-bottom: 1rem
}

.main-nav .navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
}

.nav-match-name {
    border-left: 1px solid white;
    padding-left: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}
