.main-nav {
    margin-bottom: 1rem
}

.main-nav .navbar-brand {
    font-family: 'Cinzel Decorative', cursive;
}

.nav-match-name {
    border-left: 1px solid white;
    padding-left: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.btn-login {
    font-weight: 400;
    color: #eee;
    background-color: transparent;
}

.btn-login:hover,
.btn-login:focus {
    font-weight: 400;
    color: #111;
    background-color: transparent;
}
