{% extends "base.html.twig" %}

{% block body %}

    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">

    {# Resources required by Material-UI #}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}
