{% extends "base.html.twig" %}

{% block body %}

    <div id="root"></div>
    <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>

    <!--div class="row">
        <div class="col-md-9 mapviewport">
            <div id="scene"></div>
        </div>
    </div-->

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}">
{% endblock %}
