{% extends "base.html.twig" %}

{% block body %}

    <h2>Login</h2>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="hidden" name="_target_path" value="/" />

        <button type="submit">login</button>
    </form>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}
