App\Entity\Match\Empire:

    type: entity
    table: empire

    id: { id: { type: integer, unsigned: true, generator: { strategy: auto } } }

    fields:
        date_founded: { type: datetime }
        active: { type: boolean }
        result: { type: string, nullable: true }
        placement: { type: integer, nullable: true }

    manyToOne:
        user: { targetEntity: App\Entity\User\User }
        match: { targetEntity: App\Entity\Match\Match, inversedBy: empires }
